@media screen and (max-width: 414px){#smallNav>div:nth-of-type(1)>p>span{padding:0 15px;}}
@media screen and (max-width:321px) and (max-width:350px) {#smallNav>div:nth-of-type(1)>p>span{padding:0 6px;}}
/*#smallNav>div:nth-of-type(1)>p>span:nth-child(6){padding-left:0px;}*/
#smallNav>div:nth-of-type(1)>p>span:nth-child(7){padding-left:10px;}
.appui-expert-info>.appui-expert-introduce:nth-child(2){display:none;}
@media screen and (max-width:374px) {#smallNav>div:nth-of-type(1)>p>span:nth-child(6),#smallNav>div:nth-of-type(1)>p>span:nth-child(11){padding-left:10px;}
    #smallNav>div:nth-of-type(1)>p>span:nth-child(7){padding-left:0;}}
#smallNav>div:nth-of-type(1)>p{padding-right:0.55rem!important;}
#smallNav>div:nth-of-type(1)>p>span:first-child{padding-left:16px!important;}